fastapi[standard]~=0.115.13
pydantic~=2.11.7
tvdb_v4_official~=1.1.0
redis[hiredis]~=6.2.0
uvicorn~=0.34.3
setuptools~=80.9.0
jsonpickle~=4.1.1
tmdbsimple~=2.9.1
iso639-lang~=2.6.1
musicbrainzngs~=0.7.1